:root {
    --body-color: #dedbf9;
    --fg-color: #5b558b;
    --fg-focus-color: #ff7070;
    --bg-color: #fff7f1;
}

[data-theme = "dark"] {
    --body-color: #242237;
    --fg-color: #fff7f1;
    --bg-color: #1b1929;
}

body {
    background-color: var(--body-color);
    color: var(--fg-color);
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 8px;
    transition: 0.3s;
}

#wholepage {
    background-color: var(--bg-color);
    box-sizing: border-box; 
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 736px) {
        width: 100%;
    }
}

h1 {
    font-family: "Noto Sans JP", sans-serif;
}

/* buttons */
#buttonThemeToggle {
    color: var(--fg-color);
    border-radius: 5px;
    border: var(--body-color) solid 2px;
    font-size: x-large; 
    background-color: transparent;
    width: 2em;
    height: 2em;
    padding-left: auto;
    padding-right: auto;
}