:root {
    --body-color: #fff7f1;
    --fg-color: #5b558b;
    --fg-focus-color: #ff7070;
    --bg-color: #dedbf9;
}

@media (prefers-color-scheme: dark) {
    :root {    
        --body-color: #242237;
        --fg-color: #fff7f1;
        --bg-color: #1b1929;
    }
}

body {
    background-color: var(--body-color);
    color: var(--fg-color);
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 8px
}

#wholepage {
    background-color: var(--bg-color);
    box-sizing: border-box; 
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 736px) {
        width: 100%;
    }
}

h1 {
    font-family: "Klee One", "Noto Sans JP", sans-serif;
}