:root {
    --body-color: #dedbf9;
    --fg-color: #5b558b;
    --fg-focus-color: #ff7070;
    --bg-color: #fff7f1;
    --link-color: #556a8b;
    --link-hovered-color: #7687a2;
    .light{
        display: none;
    }
    .dark{
        display: unset;
    }
}

[data-theme = "light"] {
    --body-color: #dedbf9;
    --fg-color: #5b558b;
    --fg-focus-color: #ff7070;
    --bg-color: #fff7f1;
    --link-color: #556a8b;
    --link-hovered-color: #7687a2;
    .light{
        display: none;
    }
    .dark{
        display: unset;
    }
}

[data-theme = "dark"] {
    --body-color: #242237;
    --fg-color: #fff7f1;
    --bg-color: #1b1929;
    --link-color: #bee3ff;
    --link-hovered-color: #a5d8ff;
    .light{
        display: unset;
    }
    .dark{
        display: none;
    }
}

* {
    transition: 0.5s;
}

body {
    background-color: var(--body-color);
    color: var(--fg-color);
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 8px;
}

#wholepage {
    background-color: var(--bg-color);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 8px;
    @media screen and (max-width: 480px) {

    }
}

h1 {
    font-family: "Noto Sans JP", sans-serif;
}

a:link{color: var(--link-color);}
a:visited{color: var(--link-color);}
a:active{color: var(--fg-focus-color)}
a:hover{color: var(--link-hovered-color);}

#header-functions {
    display: flex;
    list-style: none;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    font-size: 2rem;
    margin: 0.5rem
}

#header-functions li {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
    min-width: 1em;
    color: var(--fg-color);
    gap: 0.5em
}

#header-functions li:first-of-type {
    margin-right: auto;
}

#header-functions li a {
    text-decoration: none;
}

/* buttons */
#buttonThemeToggle {
    border: 0;
    background-color: transparent;
    width: fit-content;
    padding: 0;
    font-size: 1em;
}

.stroke{
    width: 2rem;
    height: 2rem;
}

/* icon colour */
.stroke * {
    stroke: var(--fg-color);
}