/* theme */

:root {
    --body-color: #dedbf9;
    --fg-color: #5b558b;
    --fg-hover-color: #837db0;
    --fg-focus-color: #ff7070;
    --bg-color: #fff7f1;
    --bg-subcolor: #f1f9ff;
    --bg-strongcolor: #ffe8d8;
    --bg-strongsubcolor: #d8eeff;
    --link-color: #556a8b;
    --link-hovered-color: #7687a2;
    .light{
        display: none;
    }
    .dark{
        display: unset;
    }
}

[data-theme = "light"] {
    --body-color: #dedbf9;
    --fg-color: #5b558b;
    --fg-hover-color: #837db0;
    --fg-focus-color: #ff7070;
    --bg-color: #fff7f1;
    --bg-subcolor: #f1f9ff;
    --bg-strongcolor: #ffe8d8;
    --bg-strongsubcolor: #d8eeff;
    --link-color: #556a8b;
    --link-hovered-color: #7687a2;
    .light{
        display: none;
    }
    .dark{
        display: unset;
    }
}

[data-theme = "dark"] {
    --body-color: #242237;
    --fg-color: #fff7f1;
    --fg-hover-color: #ffdabe;
    --bg-color: #1b1929;
    --bg-subcolor: #272919;
    --bg-strongcolor: #252339;
    --bg-strongsubcolor: #363923;
    --link-color: #bee3ff;
    --link-hovered-color: #a5d8ff;
    .light{
        display: unset;
    }
    .dark{
        display: none;
    }
}

/* body */
* {
    transition: all 0.5s;
}

html {
    background-color: var(--body-color);
    color: var(--fg-color);
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    margin: 0.5rem;
}

body {
    background-color: var(--bg-color);
    box-sizing: content-box;
    margin: 0 auto;
    max-width: 60rem;
    height: fit-content;
    padding: 1rem
}

/* header */
header {
    position: sticky;
    top:0 ;
    z-index: 1000;
    background-color: var(--bg-color);
}

#header-functions {
    display: flex;
    list-style: none;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: fit-content;
}

#header-functions li {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
    width: fit-content;
    color: var(--fg-color);
    margin: 0.5em;
    vertical-align: auto;
}

#header-functions li:nth-child(2) {
    margin-right: auto;
}

#header-functions li a {
    vertical-align: top;
    width: fit-content;
    height: fit-content;
    display: flex;
}

#header-functions li button {
    vertical-align: top;
    width: fit-content;
    height: fit-content;
    display: flex;
}

/* header buttons */
.header-button {
    border: 0;
    background-color: transparent;
    width: fit-content;
    height: auto;
    padding: 0;
    font-size: 1em;
    vertical-align: initial;
}

.header-icon {
    width: 2rem;
    height: 2rem;
}

/* header button color */
.stroke-hoverable * {
    stroke: var(--fg-color);
    transition: 0.25s;
}

.stroke-hoverable:hover * {
    stroke: var(--fg-hover-color);
    transition: 0.25s;
}

.stroke * {
    stroke: var(--fg-color);
}

.inline-svg{
    display: inline-block;
    position: relative;
    vertical-align: sub;
}

/* footer (unused) */
#footer {
    display: flex;
    list-style: none;
}

#footer li::after{
    content: "/";
}

/* title */
h1 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    max-width: 16em;
    line-height: 1.75em;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    box-sizing: content-box;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    max-width: 30rem;
    line-height: 1.75em;
    margin-left: auto;
    margin-right: auto;
    border-left: var(--fg-color) 0.5rem solid;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

p {
    margin: 0.5rem auto;
    font-size: 1rem;
    max-width: 30rem;
    line-height: 1.75em;
}

ul {
    box-sizing: border-box;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    max-width: 30rem;
    line-height: 1.75em;
    list-style-type: circle;
}

a:link{color: var(--link-color);}
a:visited{color: var(--link-color);}
a:active{color: var(--fg-focus-color)}
a:hover{color: var(--link-hovered-color);}

/* table */
table {
    background-color: var(--bg-color);
    margin: 0.75rem auto;
    color: var(--fg-color);
    border: var(--fg-hover-color) 2px solid;
    border-collapse: collapse;
}

tbody > *:nth-of-type(even) {
    background-color: var(--bg-strongcolor);
}

th {
    padding: 0.3rem 0.75rem;
    text-align: right;
}

td {
    padding: 0.3rem 0.75rem;
}