---
title: 管理者のページ
---
<html lang="ja">
    <head>
        {% include head.html %}
    </head>

    <body>
        {% include header.html %}
        <h1>{{ page.title }}</h1>
        <p>とりあえず，こんにちは．狐月秋と名乗っています．</p>

        <h2>個人情報開示タイム</h2>
        <p>以下に晒せるだけの個人情報を晒しておきます．</p>
        <table>
            <tbody>
                <tr>
                    <th scope="row">生年月日</th>
                    <td>2006-10-23</td>
                </tr>
                <tr>
                    <th scope="row">血液型</th>
                    <td>A</td>
                </tr>
                <tr>
                    <th scope="row">出身</th>
                    <td>佐賀と福岡の境目</td>
                </tr>
                <tr>
                    <th scope="row">究極の2択</th>
                    <td>男</td>
                </tr>
            </tbody>
        </table>

        <h2>その他言いたいこと</h2>
        <p>英語は赤ちゃんレベルですが理解できます．</p>
        <p>犬よりは猫派ですが，どちらにせよアレルギーが出ます．悲しいですね．</p>
        <p>興味が次から次に移るので，決まった趣味はありません．</p>
        <p>おそらく私が嫌う話題はありません．適当に話してください．私も適当に話しています．</p>
        <p>すみません訂正します．16人格sだけで人のすべてを決めてしまう人間は割と苦手です．お遊びとしての性格診断の類は嫌いじゃないです．</p>

        <script src="/js/theme.js"></script>

    </body>
</html>