<header>
    <nav>
        <div>
            <img href="../img/ShiromiChan_x4~01_compressed.png">
        </div>
        <ul style="display: flex;" id="navigation">
            <li>
                <a href="../index.html">index</a>
            </li>
            <li>
                <a href="../profile.html">profile</a>
            </li>
        </ul>
    </nav>
    <button id="buttonThemeToggle">
        <i class="fa-solid fa-circle-half-stroke" style="width:fit-content"></i>
    </button>
</header>