/* theme */

:root {
    --body-color: #dedbf9;
    --fg-color: #5b558b;
    --fg-strongcolor: #736da6; 
    --fg-code-color: #3e3c3a;
    --fg-hover-color: #837db0;
    --fg-focus-color: #ff7070;
    --bg-color: #fff7f1;
    --bg-subcolor: #f1f9ff;
    --bg-code-color: #e9eaec;
    --bg-strongcolor: #ffe8d8;
    --bg-strongsubcolor: #d8eeff;
    --link-color: #556a8b;
    --link-hovered-color: #7687a2;
    --em-color-r: #f2acac;
    --em-color-b: #a2caf2;
    .light{
        display: none;
    }
    .dark{
        display: unset;
    }
}

[data-theme = "light"] {
    --body-color: #dedbf9;
    --fg-color: #5b558b;
    --fg-strongcolor: #736da6;
    --fg-code-color: #3e3c3a;
    --fg-hover-color: #837db0;
    --fg-focus-color: #ff7070;
    --bg-color: #fff7f1;
    --bg-subcolor: #f1f9ff;
    --bg-code-color: #e9eaec;
    --bg-strongcolor: #ffe8d8;
    --bg-strongsubcolor: #d8eeff;
    --link-color: #556a8b;
    --link-hovered-color: #7687a2;
    --em-color-r: #f2acac;
    --em-color-b: #a2caf2;
    .light{
        display: none;
    }
    .dark{
        display: unset;
    }
}

[data-theme = "dark"] {
    --body-color: #242237;
    --fg-color: #fff7f1;
    --fg-strongcolor: #ffe8d8;
    --fg-code-color: #fff7f1;
    --fg-hover-color: #ffdabe;
    --bg-color: #1b1929;
    --bg-subcolor: #194466;
    --bg-code-color: #2e2c2a;
    --bg-strongcolor: #252339;
    --bg-strongsubcolor: #1e527a;
    --link-color: #bee3ff;
    --link-hovered-color: #a5d8ff;
    --em-color-r: #eb8080;
    --em-color-b: #75b1ec;
    .light{
        display: unset;
    }
    .dark{
        display: none;
    }
}

/* body */
* {
    transition: all 0.5s;
    text-autospace: normal;
}

html {
    background-color: var(--body-color);
    color: var(--fg-color);
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    margin: 0.5rem;
}

body {
    background-color: var(--bg-color);
    box-sizing: content-box;
    margin: 0 auto;
    max-width: 60rem;
    height: fit-content;
    padding: 1rem
}

/* header */
header {
    position: sticky;
    top:0 ;
    z-index: 1000;
    background-color: var(--bg-color);
}

#header-functions {
    display: flex;
    list-style: none;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: fit-content;
}

#header-functions li {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
    width: fit-content;
    color: var(--fg-color);
    margin: 0.5em;
    vertical-align: auto;
}

#header-functions li:nth-child(2) {
    margin-right: auto;
}

#header-functions li a {
    vertical-align: top;
    width: fit-content;
    height: fit-content;
    display: flex;
}

#header-functions li button {
    vertical-align: top;
    width: fit-content;
    height: fit-content;
    display: flex;
}

/* header buttons */
.header-button {
    border: 0;
    background-color: transparent;
    width: fit-content;
    height: auto;
    padding: 0;
    font-size: 1em;
    vertical-align: initial;
}

.header-icon {
    width: 2rem;
    height: 2rem;
}

/* header button color */
.stroke-hoverable * {
    stroke: var(--fg-color);
    transition: 0.25s;
}

.stroke-hoverable:hover * {
    stroke: var(--fg-hover-color);
    transition: 0.25s;
}

.stroke * {
    stroke: var(--fg-color);
}

.inline-svg{
    display: inline-block;
    position: relative;
    vertical-align: sub;
}

/* footer (unused) */
#footer {
    display: flex;
    list-style: none;
}

#footer li::after {
    content: "/";
}

/* index page */
#latest-article {
    max-width: 36rem;
    margin-left: auto;
    margin-right: auto;
}

.link2article {
    display: block;
    width: fit-content;
    margin-right: 2rem;
    margin-left: auto;
}

.modified-date {
    display: block;
    margin-left: auto;
    margin-right: 1rem;
    text-align: right;
    font-size: 0.8rem;
    font-weight: normal;
}

/* title */
h1 {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    max-width: 16em;
    line-height: 1.75em;
    margin-left: auto;
    margin-right: auto;
}

/* journal body */
h2 {
    box-sizing: content-box;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-size: 1.35rem;
    max-width: 36rem;
    line-height: 1.75em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-bottom: var(--em-color-b) 0.2rem solid;
    padding-left: 2rem;
    padding-right: 2rem;
}

h3 {
    box-sizing: content-box;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    max-width: 36rem;
    line-height: 1.75em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 0.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: var(--fg-focus-color) 0.1rem dashed;
}

h4 {
    box-sizing: content-box;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    max-width: 36rem;
    line-height: 1.75em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 0.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: var(--fg-hover-color) 0.1rem dotted;
}

p {
    margin: 1.2em auto;
    max-width: 36rem;
    line-height: 1.6em;
}

/* em (as marker) */
em {
    font-style: normal;
    background: linear-gradient(transparent 70%, var(--em-color-r) 70%);
    padding: 0 0.1rem;
}

em.r {
    background: linear-gradient(transparent 70%, var(--em-color-r) 70%);
}

em.b {
    background: linear-gradient(transparent 70%, var(--em-color-b) 70%);
}

/* quote */
blockquote {
    box-sizing: border-box;
    padding: 1rem;
    max-width: 40rem;
    background-color: var(--bg-subcolor);
    margin: 1.5rem auto;
    border-left: var(--bg-strongsubcolor) solid 0.3rem;
}

blockquote::before {
    content: "❛❛";
    display: block;
    width: fit-content;
    margin-right: auto;
}

blockquote::after {
    content: "❜❜";
    display: block;
    width: fit-content;
    margin-left: auto;
}

blockquote p {
    padding: 0;
    margin: 0;
    color: hsl(from var(--fg-color) h s l/0.75);
}

blockquote cite {
    font-style: italic;
    font-size: 0.8rem;
    line-height: 1.75em;
    margin-left: 30%;
    margin-right: 0.5rem;
    margin-top: 0.75rem;
    padding-left: 0.5rem;
    display: list-item;
    list-style-type: "\2014\2014";
}

/* list */
ul {
    box-sizing: border-box;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 0;
    max-width: 34rem;
    line-height: 1.6em;
    list-style-type: circle;
}

:where(ol:not(#header-functions)) {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 0;
    max-width: 34rem;
    line-height: 1.6em;
}

details {
    margin: 0.5rem auto;
    max-width: 36rem;
    line-height: 1.6em;
}

details ul {
    margin-top: 0;
}

li:last-child {
    margin-bottom: 0.5em;
}

a:link{color: var(--link-color);}
a:visited{color: var(--link-color);}
a:active{color: var(--fg-focus-color);}
a:hover{color: var(--link-hovered-color);}

/* table */
table {
    background-color: var(--bg-color);
    margin: 0.75rem auto;
    color: var(--fg-color);
    border: var(--fg-hover-color) 2px solid;
    border-collapse: collapse;
}

tbody > *:nth-of-type(even) {
    background-color: var(--bg-strongcolor);
}

th {
    padding: 0.3rem 0.75rem;
    text-align: right;
}

td {
    padding: 0.3rem 0.75rem;
}

/* image */
.img-wrapper {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0.25rem solid var(--bg-subcolor);
    border-radius: 0.25rem;
}

/* code block */
code {
    background-color: var(--bg-code-color);
    font-family: monospace;
    color: var(--fg-code-color);
    padding: 0.3em 0.6em;
    border-radius: 0.3em;
    font-size: 0.9rem;
    line-height: 1.5;
}

.highlighter-rouge {
    max-width: 34rem;
    margin-left: auto;
    margin-right: auto;
}

.highlighter-rouge code {
    display: block;
}

/* footnote */
.footnotes {
    border-top: 1px solid #333;
    margin-top: 2em;
    padding-top: 1em;
    font-size: 90%;
    opacity: 80%;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

div.footnotes > ol {
    margin-left: auto;
    margin-right: auto;
    max-width: 36rem;
}